In [1]:
import pandas as pd
import urllib2

In [2]:
#market_health = pd.read_csv(urllib2.urlopen('http://files.zillowstatic.com/research/public/Zip/MarketHealthIndex_Zip.csv'))
market_health = pd.read_csv(open('Zillow_Data/MarketHealthIndex_Zip.csv','rU'), encoding = 'ISO-8859-1', engine = 'c', error_bad_lines = False)
len(market_health)

13248

In [3]:
#home_values = pd.read_csv(urllib2.urlopen('http://files.zillowstatic.com/research/public/Zip/Zip_MedianSoldPricePerSqft_AllHomes.csv'))
home_values = pd.read_csv(open('Zillow_Data/Zip_MedianSoldPricePerSqft_AllHomes.csv','rU'), encoding = 'ISO-8859-1', engine = 'c', error_bad_lines = False)#, index_col='RegionName')
home_values = home_values.drop('RegionID', 1)
home_values = home_values.drop('City', 1)
home_values = home_values.drop('State', 1)
home_values = home_values.drop('Metro', 1)
home_values = home_values.drop('CountyName', 1)
home_values = home_values.drop('SizeRank', 1)
home_values

,RegionName,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,1996-12,...,2015-04,2015-05,2015-06,2015-07,2015-08,2015-09,2015-10,2015-11,2015-12,2016-01
0,11368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,60629,83.372900,81.903900,86.222700,88.2281,92.494100,88.435600,84.288000,86.4587,87.284900,...,109.570100,116.624600,111.909200,114.7804,127.931300,132.596500,132.647600,130.141800,136.503600,133.4347
2,90650,117.396900,118.022500,113.314600,112.0347,114.152100,113.226800,111.244800,109.2356,112.693100,...,309.268300,316.200600,339.000400,341.2761,339.182500,336.707500,347.749600,337.655200,330.721900,331.5490
3,11226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,351.941748,NaN,NaN,408.496732,NaN,NaN
5,11220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,90201,NaN,120.160100,121.890500,120.9686,125.497400,NaN,NaN,NaN,115.575397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,90280,118.301500,121.385100,117.814400,122.3694,124.646800,122.941800,119.506300,118.1009,122.655000,...,267.544000,281.498400,298.751300,309.4828,NaN,NaN,287.482806,NaN,334.071100,NaN
8,10025,179.694519,NaN,NaN,NaN,202.020202,176.866700,179.793800,NaN,NaN,...,NaN,1239.635158,1348.996600,1309.8876,1327.650500,1277.186900,1317.011300,1358.297600,1421.312000,NaN
9,11234,121.552000,118.042400,118.072700,126.0023,133.886200,133.688500,128.081400,125.2641,126.398200,...,344.136200,365.595900,358.891500,350.9583,354.935600,382.043600,387.695500,377.240000,373.636000,368.3434
10,60618,130.281690,121.468500,127.480800,125.9311,119.856500,107.330600,103.767100,112.6521,118.075600,...,260.745400,261.769800,277.285900,280.3984,281.434300,274.801100,295.812700,312.843500,290.424900,285.0721
11,11219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,490.347192,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,11236,117.893400,118.159300,NaN,NaN,NaN,122.919334,125.104400,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,252.880922,NaN,NaN,NaN,NaN
13,91331,90.602300,87.572800,88.673500,89.2650,93.358300,93.552200,89.392200,88.9609,86.983600,...,250.408700,275.727100,303.185400,278.0178,296.222900,278.082700,257.305300,272.327000,265.714200,294.8262
14,8701,63.710800,67.124900,65.465400,64.3478,61.699000,62.161000,65.190300,62.4678,59.473500,...,141.007900,141.789800,145.878900,143.1972,140.186800,135.161200,145.478700,148.793400,151.115900,145.6767
15,92335,69.687500,69.068700,70.478500,68.4439,69.214500,69.334800,69.242900,68.9937,66.610800,...,181.257600,191.070300,200.545500,200.4000,200.092400,208.413500,209.564000,199.999000,209.076500,197.7028
16,11208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,11373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,500.000000,NaN,NaN,NaN,NaN
18,90011,91.046800,98.736000,88.806500,87.7071,85.243300,89.288200,88.424700,98.5464,98.311500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,60639,98.455100,91.290100,91.037700,94.7788,100.325100,90.275900,90.813800,94.2855,89.465700,...,NaN,145.413870,142.818600,148.8326,154.853600,161.538200,157.917600,162.824600,160.566000,169.7497
20,11207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,90805,107.965600,110.624700,111.752600,107.4171,103.162900,102.545300,102.470100,106.5071,105.789300,...,305.675300,321.432800,323.117600,322.0170,315.841500,328.056100,326.152300,340.314900,324.651300,330.5190
22,60804,78.844700,80.378800,86.742900,85.8635,81.827200,81.061000,81.347200,83.6055,82.550200,...,101.954500,103.285300,108.339600,113.3737,117.819200,127.106800,123.054000,120.197000,119.088300,126.2403
23,60647,NaN,NaN,94.594595,NaN,NaN,NaN,78.020932,NaN,NaN,...,266.792500,299.590200,295.139600,309.9028,301.546700,294.527100,307.514700,284.605200,306.943100,296.6852
24,94565,86.306200,88.229700,86.294800,88.4520,85.565000,86.856400,86.920800,88.2865,86.536700,...,199.311400,200.121600,201.049700,204.3947,215.072100,219.684100,216.592900,214.560500,214.437000,215.4091
25,11377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,10002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,92336,75.902100,74.662900,74.413300,75.1046,74.986400,75.713600,76.635700,75.8143,74.778600,...,178.927600,179.890500,185.302900,186.3097,184.575300,191.712600,190.018100,189.025400,187.842800,184.1131
28,11214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,92503,75.482800,75.190600,75.224600,77.2631,77.172500,74.469500,73.198700,74.8578,73.930500,...,196.589100,205.323900,197.943100,200.0540,198.401000,206.661500,219.061200,211.636900,208.929400,210.7611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10686,55074,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10687,55329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10688,55956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10689,55991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10690,56571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10691,61740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10692,63089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10693,68526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,168.164313,145.4847,NaN,NaN,NaN,NaN,NaN,NaN
10694,72718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10695,72843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10696,72858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10697,74951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10698,76005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10699,81631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,200.734715,195.667700,203.2083,215.820400,221.469800,223.527000,214.822700,199.090500,NaN
10700,85218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10701,85220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10702,86015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10703,86017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,136.802575,NaN,NaN,149.685699,NaN,NaN,NaN,NaN
10704,93222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,142.045455,NaN,NaN,NaN,144.110276,NaN
10705,93532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10706,93643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10707,93925,NaN,104.766634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10708,94037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10709,95247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10710,95258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10711,97737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10712,98340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,178.249744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10713,98524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10714,86315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,135.965300,132.980600,132.409200,136.9391,139.682300,136.686300,136.581300,NaN,141.607400,NaN
10715,85123,47.976012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,62.763500,NaN,61.192600,65.5652,63.493100,61.813400,65.717900,62.622900,68.671900,72.3104

In [4]:
closings = pd.read_csv(open('Closings_Pipeline/ClosingsData.csv','rU'), encoding = 'ISO-8859-1', engine = 'c', error_bad_lines = False)
closings.loc[closings['Application Date'].isnull(), 'Application Date'] = closings.loc[closings['Application Date'].isnull(), 'Closing Date']
closings.loc[closings['RegionName'].isnull(), 'RegionName'] = '32805'
closings.loc[closings['Application Date'].isnull(), 'Application Date'] = '2015-12'

closings

,Application Date,Closing Date,RegionName,Loan Amount,Repair Credit Line,Closed,Unnamed: 6,Unnamed: 7,Unnamed: 8,Property Address,Borrower
0,2011-09,2011-09,32825,35000,NaN,1,NaN,NaN,NaN,2484 San Tecla Apt. 408. 32825,"Encarnacion, Edward"
1,2011-09,2011-09,32805,25000,NaN,1,NaN,NaN,NaN,2643 Clear Cove Ln. 32805,"Craft, Andre"
2,2011-09,2011-09,32808,45000,NaN,1,NaN,NaN,NaN,3644 Chalet Ct. 32808,"Ernbro, Per"
3,2011-09,2011-09,32208,44000,NaN,1,NaN,NaN,NaN,8902 3rd Ave. 32208,"Bobby, Thomas"
4,2011-09,2011-09,32259,150000,NaN,1,NaN,NaN,NaN,179 Queen Victoria Ave. J-32259,"Scott, Dennis"
5,2011-09,2011-09,34746,43000,NaN,1,NaN,NaN,NaN,605 N. Sunset Ave. 34746,"Ramos, Jorge"
6,2011-09,2011-09,32804,95000,NaN,1,NaN,NaN,NaN,2504 Musselwhite Ave. 32804,"Shore, Jason"
7,2011-09,2011-09,32818,95000,NaN,1,NaN,NaN,NaN,6428 Abbeydale Ct. O-32818,"Mora, Carmen; Perez, Josenry"
8,2011-09,2011-09,32808,20000,NaN,1,NaN,NaN,NaN,2502 Kingsland Ave. 32808,"Desroches, Jean"
9,2011-10,2011-10,32807,28000,NaN,1,NaN,NaN,NaN,1717 S. Oxalis Ave. Unit 1717,"Arrendondo, Ivan"
10,2011-10,2011-10,33801,75000,NaN,1,NaN,NaN,NaN,1777-1783 Crystal Grove. L-33801,"Aneeka, Mitchell"
11,2011-10,2011-10,32818,28500,NaN,1,NaN,NaN,NaN,6322 Seabury Way O-32818,"Persaud, Nandranie"
12,2011-10,2011-10,32839,34900,NaN,1,NaN,NaN,NaN,"5428 Axiom Avenue, O-32839","Steele, Sarah"
13,2011-11,2011-11,32818,35000,NaN,1,NaN,NaN,NaN,6591 Meritmoor Cr. O-32818,"Singh, Lallman"
14,2011-11,2011-11,32809,41500,NaN,1,NaN,NaN,NaN,"664 Kendale St, Orlando Fl 32809","Encarnacion, Edward"
15,2011-11,2011-11,32751,30500,NaN,1,NaN,NaN,NaN,1025 Hamlet Dr. Mait-32751,"Chantharath, Wichit Ta (Todd)"
16,2011-11,2011-11,33602,80000,NaN,1,NaN,NaN,NaN,2906 N. Elmore Ave. T-33602,"Doll, Chris"
17,2011-11,2011-11,32259,160000,NaN,1,NaN,NaN,NaN,324 Yearling Blvd. J-32259,"Dennis, Scott"
18,2011-11,2011-11,32246,50000,NaN,1,NaN,NaN,NaN,3830 Dalry Dr. J-32246,"Thomas, Bobby"
19,2011-11,2011-11,32082,100000,NaN,1,NaN,NaN,NaN,155 Palm Valley Woods Dr. PVB-32082,"Dev, Daljeet"
20,2011-11,2011-11,34116,52500,NaN,1,NaN,NaN,NaN,5201 19th Ave. SW Naples-34116,"Cobbs, Jesse James Sr."
21,2011-11,2011-11,34748,50000,NaN,1,NaN,NaN,NaN,"1519 Grove Ave. Leesburg, FL 34748","Hutchins, Kevin"
22,2011-11,2011-11,33711,36500,NaN,1,NaN,NaN,NaN,2425 35th St. S. St. Pete.,"Jackson, Tom"
23,2011-11,2011-11,32209,47000,NaN,1,NaN,NaN,NaN,4211 W. Moncrief Dr. J-32209,"Jackson, Tom"
24,2011-11,2011-11,32808,61000,NaN,1,NaN,NaN,NaN,3967 Rose of Sharon Dr. O-32808,"Gabriel, Martinez"
25,2011-12,2011-12,32703,71500,NaN,1,NaN,NaN,NaN,1009 Royal Oaks,PIO
26,2011-12,2011-12,32818,86800,NaN,1,NaN,NaN,NaN,8236 Shubert Dr. O-32818,PIO
27,2011-12,2011-12,32818,63000,NaN,1,NaN,NaN,NaN,7330 Briarlyn,PIO
28,2011-12,2011-12,32808,95000,NaN,1,NaN,NaN,NaN,2808 Pioneer Street,Philip
29,2011-12,2011-12,32810,47000,NaN,1,NaN,NaN,NaN,5507 Shasta Dr. Orlando,Gabriel Martinez
...,...,...,...,...,...,...,...,...,...,...,...
1172,2015-12,2016-01,33713,68400,"$18,000",1,NaN,NaN,NaN,"3845 Dartmouth Ave. N., St. Petersburg, FL 33713","Casper & Flipper Properties, LLC (Scot Seaman)"
1173,2015-12,2016-01,27513,195000,"$15,000",1,NaN,NaN,NaN,"103 Excaliber Ct., Cary, NC 27513","RDU RE Group, L.L.C (Christian Werness)"
1174,2015-12,2016-01,10580,1200000,$0,1,NaN,NaN,NaN,"10 Puritan Woods Rd., Rye, NY 10580","Pacific Management Company, LLC (Maria E. L. L..."
1175,2015-12,2016-01,33426,154000,$0,1,NaN,NaN,NaN,"2776 SW 10th St, Boynton Beach, FL 33426","JSM Empire, Inc (Jacob D. Monde)"
1176,2015-12,2016-01,32824,159300,$0,1,NaN,NaN,NaN,"21 Windrose Dr, Orlando, FL 32824","United Homes Investments, LLC (Mario Atkins)"
1177,2015-12,2016-01,32714,150000,$0,1,NaN,NaN,NaN,"430 Forest Lake Dr., Altamonte Springs, FL 32714",Mirage Enterprises of Clermont LLC (Bertram B....
1178,2015-12,2016-01,32792,167400,"$30,000",1,NaN,NaN,NaN,"1500 Lawndale Cir, Winter Park, FL 32792","Oakwood Enterprises, LLC (Dave Robertson)"
1179,2015-12,2016-01,32211,106100,"$38,000",1,NaN,NaN,NaN,"7952 Valleyview Dr, Jacksonville, FL 32211","Pasarax, LLC (Louis Rose)"
1180,2015-12,2016-01,32789,188500,$0,1,NaN,NaN,NaN,"438 N Capen Ave, Winter Park, FL 32789","Tarpon X, LLC (Jeff Hamilton)"
1181,2015-12,2016-01,33510,197100,"$50,000",1,NaN,NaN,NaN,"1302 Brandonwood Dr, Brandon, FL 33510","Prophet Properties, LLC (Toi B. Walker)"
1182,2015-12,2016-01,34652,60300,"$20,500",1,NaN,NaN,NaN,"5425 Shell Dr., New Port Richey, FL 34652",Nivale USA LLP (Slobodan Vitas)
1183,2015-12,2015-01,32720,96300,"$13,000",1,NaN,NaN,NaN,"713 Gracie Ct., Deland, FL 32720","Roberts Real Estate Investments, LLC (Alessand..."
1184,2015-12,2016-01,34748,60000,"$12,000",1,NaN,NaN,NaN,"2109 Parkview Ave, Leesburg, FL 34748","Manor Homes, Inc dba Manor Corporation (Clive ..."
1185,2015-12,2016-01,37206,305000,"$125,000",1,NaN,NaN,NaN,"1203 Shelby Ave., Nashville, TN, 37206","Lala Land Home Buyers, LLC (Shiralee A. Salvat..."
1186,2015-12,2016-01,46203,99900,"$43,000",1,NaN,NaN,NaN,"618 Orange St, Indianapolis, IN 46203","Mint Properties, LLC (Miguel Hanza)"
1187,2015-12,2016-01,28787,126000,$0,0,01/05 File submitted for review. DS,NaN,NaN,"8 Lamplighter Ln., Weaverville, NC 28787",Blackdog Real Estate (Eve Anderson)
1188,2015-11,2016-01,28311,105400,$0,0,1/6 CLIENT DECIDED TO KILL THE DEAL. DS,NaN,NaN,"6631 Abbey Ln., Fayetteville, NC 28311",JJ&M Investment Proeprties (Jessica Hurtado)
1189,2015-11,NaN,29073,63000,$0,0,1/8 Buyer has canceled due to the process not ...,NaN,NaN,"205 Mockingbird Dr, Lexington, SC 29073","DRVVR, LLC (John Rogalsky)"
1190,2015-12,2016-01,32966,107400,"$25,000",0,01/08 AE canceled deal and blacklisted client....,NaN,NaN,"3025 62nd Ct, Vero Beach, FL 32966",Bradshells Enterprises LLC (Arthur Lindo)
1191,2015-10,NaN,33566,186300,"$15,000",0,1/8 - Borrower cancelled file b/c they want to...,NaN,NaN,"3014 Forest Hammock Dr, Plant City, FL 33566","Millenia Holding Group, LLC / Felix Aguirre"
1192,2015-08,NaN,32792,90700,$0,0,10/22 File on TBD per Brad,NaN,NaN,"3139 Lowndes Dr., Winter Park, FL 32792",Lowndes House & Associates LLC (Rene Fossey)
1193,2015-11,2016-01,32303,126000,"$65,000",0,1/12 - Seller cancelled deal. 1/11 - File give...,NaN,NaN,"205 W 2nd Ave, Tallahassee, FL 32303","House Rescuers, Inc (Raymond Gray, Jr.)"
1194,2015-09,NaN,32836,531000,$0,0,"12/28 Per Rebekah ""Lake Serene - title is not ...",NaN,NaN,"8101 Lake Serene Dr, Orlando, FL 32836","Real Property Group, LLC / Kevin E. Earnest"
1195,2015-12,2016-01,78539,80550,"$5,500",0,12/30 Requested updated assets statement and p...,NaN,NaN,"703 Northridge Dr., Edinburg, TX 78539","Texas Wealth Builders, LLC (Jason Valenzuela)"
1196,2015-11,2016-01,33584,195000,"$28,000",0,1/15 Borrower has gone MIA - all parties agree...,NaN,NaN,"11627 Davis Pool Rd., Seffner, FL 33584",Destiny Homes of FL (Patrick R. Culpepper)
1197,2015-11,NaN,32707,130410,"$45,000",0,1/25 1917 E. Lake Drive is being cancelled. Th...,NaN,NaN,"1917 E Lake Dr, Casselberry, FL 32707","Kalatrava Group, LLC (Luis Sanchez)"
1198,2015-12,NaN,33952,75000,"$26,500",0,"1/26 Per Borrower ""Deal is off it is an illega...",NaN,NaN,"22184 Oneida Ave., Port Charlotte, FL 33952",IMBE Properties LLC (Wade Lamb)
1199,2015-12,2016-02,76574,89100,"$15,000",1,NaN,NaN,NaN,"2302 Smith Ave, Taylor, TX 76574","QND Enterprises, LLC (Quincy D. Simon)"
1200,2015-12,2016-02,33563,103410,"$20,000",0,1/29 Borrower is getting extension -AB,NaN,NaN,"3810 Sugar Creek Ct, Plant City, FL 33563","Renovations & Realty, Inc. (Brian Morales)"
1201,2015-12,2016-02,32832,117600,$0,0,"2/5 Per Valerie ""Mr Sanchez was just here in o...",NaN,NaN,"9252 Sweet Maple Ave., Orlando FL 32832",JASB FL (Jaime A. Sanchez Bellas)

In [99]:
#def findValues(x):
 #   try:
  #      return home_values.lookup(x['RegionName'][0], x['Application Date'][0])
   # except:
    #    return ''
    
#closings['Median Sales Price SqFt'] = closings[~closings['RegionName'].isnull()].apply(findValues, axis = 1)
#closings['Median Sales Price SqFt']


home_values.lookup(list('32835'), ['2013-04'])

ValueError: Row labels must have same size as column labels

In [63]:
closings['Median Sales Price SqFt'] = 0

columns = list(home_values.columns.values)
def f(x):
    #try:
        #print str(x['Property Zip Code'])[:5]
        #str(home_values['RegionName'])[:5] == str(x['Property Zip Code'])[:5]
        #print home_values[str(home_values['RegionName'])[:5] == str(x['Property Zip Code'])[:5]]['RegionName']
        #if str(home_values['RegionName'])[:5] == str(x['Property Zip Code'])[:5]:
         #   print 'TRUE'
        #else:
          #  print 'FALSE'
            #return str(x['Property Zip Code'])[:5]
        
        #print(home_values[home_values['RegionName'] == x['Property Zip Code']][x['Application Date']])
        #return 'false'
        #return home_values[str(home_values['RegionName'])[:4] == str(x['Property Zip Code'])[:4]][0]
    if ~home_values(x['Application Date']):
        return home_values[str(x['Application Date'])][0]
    return 'nothing'
        #return str(x['Property Zip Code'])[:5]
    #except:
        #return home_values[str(home_values.RegionName)[:4] == str(x['Property Zip Code'])[:4]][str(x['Application Date'])][0]
    #return home_values[home_values['RegionName'] == x['Property Zip Code']['2015-12']]

    #return home_values[x['Application Date']][home_values['RegionName'] == x['Property Zip Code']]
#f = lambda x: home_values[x['Property Zip Code']]
closings['Median Sales Price SqFt'] = closings[~closings['Property Zip Code'].isnull()].apply(f, axis = 1)
closings['Median Sales Price SqFt'][1000]
#len(data)
#data.sort_values
#closings['Median Sales Price SqFt']

TypeError: ("'DataFrame' object is not callable", u'occurred at index 0')

In [9]:
closings['Median Sales Price SqFt'] = 0
columns = list(home_values.columns.values)
def findColumns(x):
    try:
        #return home_values[home_values['RegionName']==x.astype(str)[:5]]
        return (columns.index(x)) 
    except ValueError, TypeError:
        return '0'

f = lambda x: findColumns(x)
#Changed application date of last three rows to be within the range of zillows home value data, row 1176, 1180, 1187 and 1188
columnIndeces = closings[~closings['Application Date'].isnull()]['Application Date'].map(f)
len(columnIndeces)
#f = lambda x: x.index
#closings['Median Sales Price SqFt'].map(f)

1202

In [143]:
#rows = list(home_values.index.values)
rows = list(home_values['RegionName'])
def findZip(x, rows):
    try:
        #return home_values[home_values['RegionName']==x.astype(str)[:5]]
        return (rows.index(x))
    except ValueError, TypeError:
        return '0'

f = lambda x: findZip(x, rows)
rowIndeces = closings[~closings['RegionName'].isnull()]['RegionName'].map(f)
len(rowIndeces)

1202

In [145]:
closings['Median Sales Price SqFt'] = zip(rowIndeces, columnIndeces)
#f = lambda x: home_values.iloc[rowIndeces, columnIndeces]
f = lambda x: home_values.iloc[(int(x[0]))][(int(x[1]))]
closings['Median Sales Price SqFt'] = closings['Median Sales Price SqFt'].map(f)
closings

,Application Date,Closing Date,RegionName,Loan Amount,Repair Credit Line,Closed,Unnamed: 6,Unnamed: 7,Unnamed: 8,Property Address,Borrower,Median Sales Price SqFt
0,2011-09,2011-09,32825,35000,NaN,1,NaN,NaN,NaN,2484 San Tecla Apt. 408. 32825,"Encarnacion, Edward",69.7371
1,2011-09,2011-09,32805,25000,NaN,1,NaN,NaN,NaN,2643 Clear Cove Ln. 32805,"Craft, Andre",NaN
2,2011-09,2011-09,32808,45000,NaN,1,NaN,NaN,NaN,3644 Chalet Ct. 32808,"Ernbro, Per",33.7361
3,2011-09,2011-09,32208,44000,NaN,1,NaN,NaN,NaN,8902 3rd Ave. 32208,"Bobby, Thomas",21.7630
4,2011-09,2011-09,32259,150000,NaN,1,NaN,NaN,NaN,179 Queen Victoria Ave. J-32259,"Scott, Dennis",100.5803
5,2011-09,2011-09,34746,43000,NaN,1,NaN,NaN,NaN,605 N. Sunset Ave. 34746,"Ramos, Jorge",58.9406
6,2011-09,2011-09,32804,95000,NaN,1,NaN,NaN,NaN,2504 Musselwhite Ave. 32804,"Shore, Jason",128.4781
7,2011-09,2011-09,32818,95000,NaN,1,NaN,NaN,NaN,6428 Abbeydale Ct. O-32818,"Mora, Carmen; Perez, Josenry",50.6931
8,2011-09,2011-09,32808,20000,NaN,1,NaN,NaN,NaN,2502 Kingsland Ave. 32808,"Desroches, Jean",33.7361
9,2011-10,2011-10,32807,"$28,000.00",NaN,1,NaN,NaN,NaN,1717 S. Oxalis Ave. Unit 1717,"Arrendondo, Ivan",48.6860
10,2011-10,2011-10,33801,"$75,000.00",NaN,1,NaN,NaN,NaN,1777-1783 Crystal Grove. L-33801,"Aneeka, Mitchell",49.9736
11,2011-10,2011-10,32818,"$28,500.00",NaN,1,NaN,NaN,NaN,6322 Seabury Way O-32818,"Persaud, Nandranie",49.7549
12,2011-10,2011-10,32839,"$34,900.00",NaN,1,NaN,NaN,NaN,"5428 Axiom Avenue, O-32839","Steele, Sarah",38.7404
13,2011-11,2011-11,32818,"$35,000.00",NaN,1,NaN,NaN,NaN,6591 Meritmoor Cr. O-32818,"Singh, Lallman",50.5944
14,2011-11,2011-11,32809,"$41,500.00",NaN,1,NaN,NaN,NaN,"664 Kendale St, Orlando Fl 32809","Encarnacion, Edward",96.9854
15,2011-11,2011-11,32751,"$30,500.00",NaN,1,NaN,NaN,NaN,1025 Hamlet Dr. Mait-32751,"Chantharath, Wichit Ta (Todd)",77.9409
16,2011-11,2011-11,33602,"$80,000.00",NaN,1,NaN,NaN,NaN,2906 N. Elmore Ave. T-33602,"Doll, Chris",169.6704
17,2011-11,2011-11,32259,"$160,000.00",NaN,1,NaN,NaN,NaN,324 Yearling Blvd. J-32259,"Dennis, Scott",95.9717
18,2011-11,2011-11,32246,"$50,000.00",NaN,1,NaN,NaN,NaN,3830 Dalry Dr. J-32246,"Thomas, Bobby",68.8779
19,2011-11,2011-11,32082,"$100,000.00",NaN,1,NaN,NaN,NaN,155 Palm Valley Woods Dr. PVB-32082,"Dev, Daljeet",142.6567
20,2011-11,2011-11,34116,"$52,500.00",NaN,1,NaN,NaN,NaN,5201 19th Ave. SW Naples-34116,"Cobbs, Jesse James Sr.",76.6922
21,2011-11,2011-11,34748,"$50,000.00",NaN,1,NaN,NaN,NaN,"1519 Grove Ave. Leesburg, FL 34748","Hutchins, Kevin",63.9559
22,2011-11,2011-11,33711,"$36,500.00",NaN,1,NaN,NaN,NaN,2425 35th St. S. St. Pete.,"Jackson, Tom",94.2600
23,2011-11,2011-11,32209,"$47,000.00",NaN,1,NaN,NaN,NaN,4211 W. Moncrief Dr. J-32209,"Jackson, Tom",NaN
24,2011-11,2011-11,32808,"$61,000.00",NaN,1,NaN,NaN,NaN,3967 Rose of Sharon Dr. O-32808,"Gabriel, Martinez",33.7487
25,2011-12,2011-12,32703,"$71,500.00",NaN,1,NaN,NaN,NaN,1009 Royal Oaks,PIO,56.4737
26,2011-12,2011-12,32818,"$86,800.00",NaN,1,NaN,NaN,NaN,8236 Shubert Dr. O-32818,PIO,49.9956
27,2011-12,2011-12,32818,"$63,000.00",NaN,1,NaN,NaN,NaN,7330 Briarlyn,PIO,49.9956
28,2011-12,2011-12,32808,"$95,000.00",NaN,1,NaN,NaN,NaN,2808 Pioneer Street,Philip,31.1425
29,2011-12,2011-12,32810,"$47,000.00",NaN,1,NaN,NaN,NaN,5507 Shasta Dr. Orlando,Gabriel Martinez,51.2056
...,...,...,...,...,...,...,...,...,...,...,...,...
1172,2015-12,2016-01,33713,"$68,400","$18,000",1,NaN,NaN,NaN,"3845 Dartmouth Ave. N., St. Petersburg, FL 33713","Casper & Flipper Properties, LLC (Scot Seaman)",126.5116
1173,2015-12,2016-01,27513,"$195,000","$15,000",1,NaN,NaN,NaN,"103 Excaliber Ct., Cary, NC 27513","RDU RE Group, L.L.C (Christian Werness)",138.0265
1174,2015-12,2016-01,10580,"$1,200,000",$0,1,NaN,NaN,NaN,"10 Puritan Woods Rd., Rye, NY 10580","Pacific Management Company, LLC (Maria E. L. L...",NaN
1175,2015-12,2016-01,33426,"$154,000",$0,1,NaN,NaN,NaN,"2776 SW 10th St, Boynton Beach, FL 33426","JSM Empire, Inc (Jacob D. Monde)",123.2897
1176,2015-12,2016-01,32824,"$159,300",$0,1,NaN,NaN,NaN,"21 Windrose Dr, Orlando, FL 32824","United Homes Investments, LLC (Mario Atkins)",100.5843
1177,2015-12,2016-01,32714,"$150,000",$0,1,NaN,NaN,NaN,"430 Forest Lake Dr., Altamonte Springs, FL 32714",Mirage Enterprises of Clermont LLC (Bertram B....,104.0223
1178,2015-12,2016-01,32792,"$167,400","$30,000",1,NaN,NaN,NaN,"1500 Lawndale Cir, Winter Park, FL 32792","Oakwood Enterprises, LLC (Dave Robertson)",110.5123
1179,2015-12,2016-01,32211,"$106,100","$38,000",1,NaN,NaN,NaN,"7952 Valleyview Dr, Jacksonville, FL 32211","Pasarax, LLC (Louis Rose)",NaN
1180,2015-12,2016-01,32789,"$188,500",$0,1,NaN,NaN,NaN,"438 N Capen Ave, Winter Park, FL 32789","Tarpon X, LLC (Jeff Hamilton)",219.8150
1181,2015-12,2016-01,33510,"$197,100","$50,000",1,NaN,NaN,NaN,"1302 Brandonwood Dr, Brandon, FL 33510","Prophet Properties, LLC (Toi B. Walker)",98.6440
1182,2015-12,2016-01,34652,"$60,300","$20,500",1,NaN,NaN,NaN,"5425 Shell Dr., New Port Richey, FL 34652",Nivale USA LLP (Slobodan Vitas),69.6120
1183,2015-12,2015-01,32720,"$96,300","$13,000",1,NaN,NaN,NaN,"713 Gracie Ct., Deland, FL 32720","Roberts Real Estate Investments, LLC (Alessand...",94.0426
1184,2015-12,2016-01,34748,"$60,000","$12,000",1,NaN,NaN,NaN,"2109 Parkview Ave, Leesburg, FL 34748","Manor Homes, Inc dba Manor Corporation (Clive ...",84.1853
1185,2015-12,2016-01,37206,"$305,000","$125,000",1,NaN,NaN,NaN,"1203 Shelby Ave., Nashville, TN, 37206","Lala Land Home Buyers, LLC (Shiralee A. Salvat...",204.8085
1186,2015-12,2016-01,46203,"$99,900","$43,000",1,NaN,NaN,NaN,"618 Orange St, Indianapolis, IN 46203","Mint Properties, LLC (Miguel Hanza)",NaN
1187,2015-12,2016-01,28787,"$126,000",$0,0,01/05 File submitted for review. DS,NaN,NaN,"8 Lamplighter Ln., Weaverville, NC 28787",Blackdog Real Estate (Eve Anderson),142.9701
1188,2015-11,2016-01,28311,"$105,400",$0,0,1/6 CLIENT DECIDED TO KILL THE DEAL. DS,NaN,NaN,"6631 Abbey Ln., Fayetteville, NC 28311",JJ&M Investment Proeprties (Jessica Hurtado),83.3896
1189,2015-11,NaN,29073,"$63,000",$0,0,1/8 Buyer has canceled due to the process not ...,NaN,NaN,"205 Mockingbird Dr, Lexington, SC 29073","DRVVR, LLC (John Rogalsky)",77.3627
1190,2015-12,2016-01,32966,"$107,400","$25,000",0,01/08 AE canceled deal and blacklisted client....,NaN,NaN,"3025 62nd Ct, Vero Beach, FL 32966",Bradshells Enterprises LLC (Arthur Lindo),106.5836
1191,2015-10,NaN,33566,"$186,300","$15,000",0,1/8 - Borrower cancelled file b/c they want to...,NaN,NaN,"3014 Forest Hammock Dr, Plant City, FL 33566","Millenia Holding Group, LLC / Felix Aguirre",98.1893
1192,2015-08,NaN,32792,"$90,700",$0,0,10/22 File on TBD per Brad,NaN,NaN,"3139 Lowndes Dr., Winter Park, FL 32792",Lowndes House & Associates LLC (Rene Fossey),109.5333
1193,2015-11,2016-01,32303,"$126,000","$65,000",0,1/12 - Seller cancelled deal. 1/11 - File give...,NaN,NaN,"205 W 2nd Ave, Tallahassee, FL 32303","House Rescuers, Inc (Raymond Gray, Jr.)",86.2639
1194,2015-09,NaN,32836,"$531,000",$0,0,"12/28 Per Rebekah ""Lake Serene - title is not ...",NaN,NaN,"8101 Lake Serene Dr, Orlando, FL 32836","Real Property Group, LLC / Kevin E. Earnest",155.4050
1195,2015-12,2016-01,78539,"$80,550","$5,500",0,12/30 Requested updated assets statement and p...,NaN,NaN,"703 Northridge Dr., Edinburg, TX 78539","Texas Wealth Builders, LLC (Jason Valenzuela)",NaN
1196,2015-11,2016-01,33584,"$195,000","$28,000",0,1/15 Borrower has gone MIA - all parties agree...,NaN,NaN,"11627 Davis Pool Rd., Seffner, FL 33584",Destiny Homes of FL (Patrick R. Culpepper),98.2703
1197,2015-11,NaN,32707,"$130,410","$45,000",0,1/25 1917 E. Lake Drive is being cancelled. Th...,NaN,NaN,"1917 E Lake Dr, Casselberry, FL 32707","Kalatrava Group, LLC (Luis Sanchez)",112.6479
1198,2015-12,NaN,33952,"$75,000","$26,500",0,"1/26 Per Borrower ""Deal is off it is an illega...",NaN,NaN,"22184 Oneida Ave., Port Charlotte, FL 33952",IMBE Properties LLC (Wade Lamb),83.9775
1199,2015-12,2016-02,76574,"$89,100","$15,000",1,NaN,NaN,NaN,"2302 Smith Ave, Taylor, TX 76574","QND Enterprises, LLC (Quincy D. Simon)",NaN
1200,2015-12,2016-02,33563,"$103,410","$20,000",0,1/29 Borrower is getting extension -AB,NaN,NaN,"3810 Sugar Creek Ct, Plant City, FL 33563","Renovations & Realty, Inc. (Brian Morales)",83.9746
1201,2015-12,2016-02,32832,"$117,600",$0,0,"2/5 Per Valerie ""Mr Sanchez was just here in o...",NaN,NaN,"9252 Sweet Maple Ave., Orlando FL 32832",JASB FL (Jaime A. Sanchez Bellas),121.3101

In [153]:
closings['TransactionID'] = 0
closings['TransactionID'] = closings['RegionName'].astype(unicode) + closings['Property Address'].str.split(' ').apply(pd.Series, 1)[0].str[:4]
closings.to_csv('closings.csv')

In [154]:
closings

,Application Date,Closing Date,RegionName,Loan Amount,Repair Credit Line,Closed,Unnamed: 6,Unnamed: 7,Unnamed: 8,Property Address,Borrower,Median Sales Price SqFt,TransactionID
0,2011-09,2011-09,32825,35000,NaN,1,NaN,NaN,NaN,2484 San Tecla Apt. 408. 32825,"Encarnacion, Edward",69.7371,32825.02484
1,2011-09,2011-09,32805,25000,NaN,1,NaN,NaN,NaN,2643 Clear Cove Ln. 32805,"Craft, Andre",NaN,32805.02643
2,2011-09,2011-09,32808,45000,NaN,1,NaN,NaN,NaN,3644 Chalet Ct. 32808,"Ernbro, Per",33.7361,32808.03644
3,2011-09,2011-09,32208,44000,NaN,1,NaN,NaN,NaN,8902 3rd Ave. 32208,"Bobby, Thomas",21.7630,32208.08902
4,2011-09,2011-09,32259,150000,NaN,1,NaN,NaN,NaN,179 Queen Victoria Ave. J-32259,"Scott, Dennis",100.5803,32259.0179
5,2011-09,2011-09,34746,43000,NaN,1,NaN,NaN,NaN,605 N. Sunset Ave. 34746,"Ramos, Jorge",58.9406,34746.0605
6,2011-09,2011-09,32804,95000,NaN,1,NaN,NaN,NaN,2504 Musselwhite Ave. 32804,"Shore, Jason",128.4781,32804.02504
7,2011-09,2011-09,32818,95000,NaN,1,NaN,NaN,NaN,6428 Abbeydale Ct. O-32818,"Mora, Carmen; Perez, Josenry",50.6931,32818.06428
8,2011-09,2011-09,32808,20000,NaN,1,NaN,NaN,NaN,2502 Kingsland Ave. 32808,"Desroches, Jean",33.7361,32808.02502
9,2011-10,2011-10,32807,"$28,000.00",NaN,1,NaN,NaN,NaN,1717 S. Oxalis Ave. Unit 1717,"Arrendondo, Ivan",48.6860,32807.01717
10,2011-10,2011-10,33801,"$75,000.00",NaN,1,NaN,NaN,NaN,1777-1783 Crystal Grove. L-33801,"Aneeka, Mitchell",49.9736,33801.01777
11,2011-10,2011-10,32818,"$28,500.00",NaN,1,NaN,NaN,NaN,6322 Seabury Way O-32818,"Persaud, Nandranie",49.7549,32818.06322
12,2011-10,2011-10,32839,"$34,900.00",NaN,1,NaN,NaN,NaN,"5428 Axiom Avenue, O-32839","Steele, Sarah",38.7404,32839.05428
13,2011-11,2011-11,32818,"$35,000.00",NaN,1,NaN,NaN,NaN,6591 Meritmoor Cr. O-32818,"Singh, Lallman",50.5944,32818.06591
14,2011-11,2011-11,32809,"$41,500.00",NaN,1,NaN,NaN,NaN,"664 Kendale St, Orlando Fl 32809","Encarnacion, Edward",96.9854,32809.0664
15,2011-11,2011-11,32751,"$30,500.00",NaN,1,NaN,NaN,NaN,1025 Hamlet Dr. Mait-32751,"Chantharath, Wichit Ta (Todd)",77.9409,32751.01025
16,2011-11,2011-11,33602,"$80,000.00",NaN,1,NaN,NaN,NaN,2906 N. Elmore Ave. T-33602,"Doll, Chris",169.6704,33602.02906
17,2011-11,2011-11,32259,"$160,000.00",NaN,1,NaN,NaN,NaN,324 Yearling Blvd. J-32259,"Dennis, Scott",95.9717,32259.0324
18,2011-11,2011-11,32246,"$50,000.00",NaN,1,NaN,NaN,NaN,3830 Dalry Dr. J-32246,"Thomas, Bobby",68.8779,32246.03830
19,2011-11,2011-11,32082,"$100,000.00",NaN,1,NaN,NaN,NaN,155 Palm Valley Woods Dr. PVB-32082,"Dev, Daljeet",142.6567,32082.0155
20,2011-11,2011-11,34116,"$52,500.00",NaN,1,NaN,NaN,NaN,5201 19th Ave. SW Naples-34116,"Cobbs, Jesse James Sr.",76.6922,34116.05201
21,2011-11,2011-11,34748,"$50,000.00",NaN,1,NaN,NaN,NaN,"1519 Grove Ave. Leesburg, FL 34748","Hutchins, Kevin",63.9559,34748.01519
22,2011-11,2011-11,33711,"$36,500.00",NaN,1,NaN,NaN,NaN,2425 35th St. S. St. Pete.,"Jackson, Tom",94.2600,33711.02425
23,2011-11,2011-11,32209,"$47,000.00",NaN,1,NaN,NaN,NaN,4211 W. Moncrief Dr. J-32209,"Jackson, Tom",NaN,32209.04211
24,2011-11,2011-11,32808,"$61,000.00",NaN,1,NaN,NaN,NaN,3967 Rose of Sharon Dr. O-32808,"Gabriel, Martinez",33.7487,32808.03967
25,2011-12,2011-12,32703,"$71,500.00",NaN,1,NaN,NaN,NaN,1009 Royal Oaks,PIO,56.4737,32703.01009
26,2011-12,2011-12,32818,"$86,800.00",NaN,1,NaN,NaN,NaN,8236 Shubert Dr. O-32818,PIO,49.9956,32818.08236
27,2011-12,2011-12,32818,"$63,000.00",NaN,1,NaN,NaN,NaN,7330 Briarlyn,PIO,49.9956,32818.07330
28,2011-12,2011-12,32808,"$95,000.00",NaN,1,NaN,NaN,NaN,2808 Pioneer Street,Philip,31.1425,32808.02808
29,2011-12,2011-12,32810,"$47,000.00",NaN,1,NaN,NaN,NaN,5507 Shasta Dr. Orlando,Gabriel Martinez,51.2056,32810.05507
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1172,2015-12,2016-01,33713,"$68,400","$18,000",1,NaN,NaN,NaN,"3845 Dartmouth Ave. N., St. Petersburg, FL 33713","Casper & Flipper Properties, LLC (Scot Seaman)",126.5116,33713.03845
1173,2015-12,2016-01,27513,"$195,000","$15,000",1,NaN,NaN,NaN,"103 Excaliber Ct., Cary, NC 27513","RDU RE Group, L.L.C (Christian Werness)",138.0265,27513.0103
1174,2015-12,2016-01,10580,"$1,200,000",$0,1,NaN,NaN,NaN,"10 Puritan Woods Rd., Rye, NY 10580","Pacific Management Company, LLC (Maria E. L. L...",NaN,10580.010
1175,2015-12,2016-01,33426,"$154,000",$0,1,NaN,NaN,NaN,"2776 SW 10th St, Boynton Beach, FL 33426","JSM Empire, Inc (Jacob D. Monde)",123.2897,33426.02776
1176,2015-12,2016-01,32824,"$159,300",$0,1,NaN,NaN,NaN,"21 Windrose Dr, Orlando, FL 32824","United Homes Investments, LLC (Mario Atkins)",100.5843,32824.021
1177,2015-12,2016-01,32714,"$150,000",$0,1,NaN,NaN,NaN,"430 Forest Lake Dr., Altamonte Springs, FL 32714",Mirage Enterprises of Clermont LLC (Bertram B....,104.0223,32714.0430
1178,2015-12,2016-01,32792,"$167,400","$30,000",1,NaN,NaN,NaN,"1500 Lawndale Cir, Winter Park, FL 32792","Oakwood Enterprises, LLC (Dave Robertson)",110.5123,32792.01500
1179,2015-12,2016-01,32211,"$106,100","$38,000",1,NaN,NaN,NaN,"7952 Valleyview Dr, Jacksonville, FL 32211","Pasarax, LLC (Louis Rose)",NaN,32211.07952
1180,2015-12,2016-01,32789,"$188,500",$0,1,NaN,NaN,NaN,"438 N Capen Ave, Winter Park, FL 32789","Tarpon X, LLC (Jeff Hamilton)",219.8150,32789.0438
1181,2015-12,2016-01,33510,"$197,100","$50,000",1,NaN,NaN,NaN,"1302 Brandonwood Dr, Brandon, FL 33510","Prophet Properties, LLC (Toi B. Walker)",98.6440,33510.01302
1182,2015-12,2016-01,34652,"$60,300","$20,500",1,NaN,NaN,NaN,"5425 Shell Dr., New Port Richey, FL 34652",Nivale USA LLP (Slobodan Vitas),69.6120,34652.05425
1183,2015-12,2015-01,32720,"$96,300","$13,000",1,NaN,NaN,NaN,"713 Gracie Ct., Deland, FL 32720","Roberts Real Estate Investments, LLC (Alessand...",94.0426,32720.0713
1184,2015-12,2016-01,34748,"$60,000","$12,000",1,NaN,NaN,NaN,"2109 Parkview Ave, Leesburg, FL 34748","Manor Homes, Inc dba Manor Corporation (Clive ...",84.1853,34748.02109
1185,2015-12,2016-01,37206,"$305,000","$125,000",1,NaN,NaN,NaN,"1203 Shelby Ave., Nashville, TN, 37206","Lala Land Home Buyers, LLC (Shiralee A. Salvat...",204.8085,37206.01203
1186,2015-12,2016-01,46203,"$99,900","$43,000",1,NaN,NaN,NaN,"618 Orange St, Indianapolis, IN 46203","Mint Properties, LLC (Miguel Hanza)",NaN,46203.0618
1187,2015-12,2016-01,28787,"$126,000",$0,0,01/05 File submitted for review. DS,NaN,NaN,"8 Lamplighter Ln., Weaverville, NC 28787",Blackdog Real Estate (Eve Anderson),142.9701,28787.08
1188,2015-11,2016-01,28311,"$105,400",$0,0,1/6 CLIENT DECIDED TO KILL THE DEAL. DS,NaN,NaN,"6631 Abbey Ln., Fayetteville, NC 28311",JJ&M Investment Proeprties (Jessica Hurtado),83.3896,28311.06631
1189,2015-11,NaN,29073,"$63,000",$0,0,1/8 Buyer has canceled due to the process not ...,NaN,NaN,"205 Mockingbird Dr, Lexington, SC 29073","DRVVR, LLC (John Rogalsky)",77.3627,29073.0205
1190,2015-12,2016-01,32966,"$107,400","$25,000",0,01/08 AE canceled deal and blacklisted client....,NaN,NaN,"3025 62nd Ct, Vero Beach, FL 32966",Bradshells Enterprises LLC (Arthur Lindo),106.5836,32966.03025
1191,2015-10,NaN,33566,"$186,300","$15,000",0,1/8 - Borrower cancelled file b/c they want to...,NaN,NaN,"3014 Forest Hammock Dr, Plant City, FL 33566","Millenia Holding Group, LLC / Felix Aguirre",98.1893,33566.03014
1192,2015-08,NaN,32792,"$90,700",$0,0,10/22 File on TBD per Brad,NaN,NaN,"3139 Lowndes Dr., Winter Park, FL 32792",Lowndes House & Associates LLC (Rene Fossey),109.5333,32792.03139
1193,2015-11,2016-01,32303,"$126,000","$65,000",0,1/12 - Seller cancelled deal. 1/11 - File give...,NaN,NaN,"205 W 2nd Ave, Tallahassee, FL 32303","House Rescuers, Inc (Raymond Gray, Jr.)",86.2639,32303.0205
1194,2015-09,NaN,32836,"$531,000",$0,0,"12/28 Per Rebekah ""Lake Serene - title is not ...",NaN,NaN,"8101 Lake Serene Dr, Orlando, FL 32836","Real Property Group, LLC / Kevin E. Earnest",155.4050,32836.08101
1195,2015-12,2016-01,78539,"$80,550","$5,500",0,12/30 Requested updated assets statement and p...,NaN,NaN,"703 Northridge Dr., Edinburg, TX 78539","Texas Wealth Builders, LLC (Jason Valenzuela)",NaN,78539.0703
1196,2015-11,2016-01,33584,"$195,000","$28,000",0,1/15 Borrower has gone MIA - all parties agree...,NaN,NaN,"11627 Davis Pool Rd., Seffner, FL 33584",Destiny Homes of FL (Patrick R. Culpepper),98.2703,33584.01162
1197,2015-11,NaN,32707,"$130,410","$45,000",0,1/25 1917 E. Lake Drive is being cancelled. Th...,NaN,NaN,"1917 E Lake Dr, Casselberry, FL 32707","Kalatrava Group, LLC (Luis Sanchez)",112.6479,32707.01917
1198,2015-12,NaN,33952,"$75,000","$26,500",0,"1/26 Per Borrower ""Deal is off it is an illega...",NaN,NaN,"22184 Oneida Ave., Port Charlotte, FL 33952",IMBE Properties LLC (Wade Lamb),83.9775,33952.02218
1199,2015-12,2016-02,76574,"$89,100","$15,000",1,NaN,NaN,NaN,"2302 Smith Ave, Taylor, TX 76574","QND Enterprises, LLC (Quincy D. Simon)",NaN,76574.02302
1200,2015-12,2016-02,33563,"$103,410","$20,000",0,1/29 Borrower is getting extension -AB,NaN,NaN,"3810 Sugar Creek Ct, Plant City, FL 33563","Renovations & Realty, Inc. (Brian Morales)",83.9746,33563.03810
1201,2015-12,2016-02,32832,"$117,600",$0,0,"2/5 Per Valerie ""Mr Sanchez was just here in o...",NaN,NaN,"9252 Sweet Maple Ave., Orlando FL 32832",JASB FL (Jaime A. Sanchez Bellas),121.3101,32832.09252